/* .order {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  display: none;
} */

/* .order__main {
  position: relative;
  max-width: 600px;
  margin: auto;
  border-radius: 16px;
  padding: 30px;
  cursor: default;
} */

/* .order__container {
} */

.order__title {
  margin-bottom: 30px;
}

/* .order__form {
} */
